/* Grenzebach */
.grenzebach .featured {
	background-image: url(../../../uploads/2021/06/cs-grenzebach-header.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	padding-top: 30px;
	padding-bottom: 30px;
	box-sizing: border-box;
	height: 600px;
}

.grenzebach .featured h1 {
	font-size: 30px;
	font-weight: 700;
	letter-spacing: -1px;
	max-width: 455px;
}

.grenzebach .featured img {
	height: 25px;
	width: auto;
	margin-top: 70px;
}

.grenzebach .overview h2 {
	max-width: 370px;
}

.grenzebach-recuadros {
	margin-top: 30px;
	margin-bottom: 20px;
	overflow: hidden;
}

.grenzebach-recuadros .col-md-6 {
	margin-bottom: 20px;
}

.grenzebach-recuadro-santex {
	padding: 50px 40px 20px;
	border: 2px solid #ffffff;
	text-align: center;
	font-weight: 600;
	margin-bottom: 20px;
	box-sizing: border-box;
	color: #ffffff;
	height: 100%;
}

.grenzebach-recuadro-grenzebach {
	padding: 50px 40px 20px;
	border: 2px solid #ffffff;
	text-align: center;
	font-weight: 600;
	margin-bottom: 20px;
	box-sizing: border-box;
	color: #ffffff;
	height: 100%;
}

.grenzebach-recuadro-santex img,
.grenzebach-recuadro-grenzebach img {
	height: 30px;
	width: auto;
	;
}

.grenzebach h3.challenge {
	font-size: 34px;
}

.grenzebach .parallax-phrase {
	background-image: url(../../../uploads/2021/06/cs-grenzebach-helped.jpg);
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	padding: 100px 20px;
	box-sizing: border-box;
}

.grenzebach-pandemic-image {
	background-image: url(../../../uploads/2021/06/cs-grenzebach-collaboration-hard-times.jpg);
	background-position: center center;
	background-size: cover;
	min-height: 400px;
}

.grenzebach-pandemic-text {
	background-color: #F2F2F2;
	padding: 100px 70px;
	box-sizing: border-box;
	margin: auto;
}

.grezenbach-timezones {
	background-image: url(../../../uploads/2021/06/cs-grenzebach-time-zones-scaled.jpg);
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
}

.grenzebach-collaboration-text {
	background: #111111;
	font-size: 18px;
	font-weight: 600;
	padding: 100px;
	box-sizing: border-box;
	text-align: center;
	margin: auto;
	color: #ffffff;
}

.grenzebach-collaboration-text h3 {
	text-align: left;
	color: #ffffff;
}

.grenzebach-collaboration-text p {
	text-align: left;
	color: #ffffff;
	font-size: 18px;
	font-weight: 600;
}

.grenzebach-collaboration-image {
	background-image: url(../../../uploads/2021/06/cs-grenzebach-collaborate-internationally.jpg);
	background-position: center center;
	background-size: cover;
	min-height: 400px;
}

.grenzebach-collaboration-text img {
	margin-bottom: 40px;
	max-width: 330px;
	width: 100%;
}

.grenzebach-youtube {
	padding-top: 20px;
	padding-bottom: 50px;
}

.grenzebach .link-youtube {
	color: #FF0000;
	text-decoration: none;
}

.grenzebach .fa-youtube {
	color: #FF0000;
	margin-right: 5px;
}

.grenzebach-prefinal {
	background-image: url(../../../uploads/2021/06/cs-grenzebach-prefooter.jpg);
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	font-size: 18px;
	color: #ffffff;
	text-align: center;
	min-height: 600px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px;
}

.grenzebach-prefinal p {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.grenzebach-prefinal img {
	max-height: 25px;
	margin: 0 auto 50px;
}

.parallax-grenzebach-final {
	background-image: url(https://santexgroup.com/wp-content/uploads/2021/06/cs-grenzebach-footer.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	min-height: 600px;
}