/*HEADER*/
.fa-hashtag:before, .fa-search:before {
    font-size: 16px;
}
.dropdown-text {
    margin-left: 8px;
    margin-right: 8px;
}

#search-close-button, #topic-close-button {
    font-size: 26px;
    margin-top: 20px;
    margin-right: 19px;
    color: #a4a4a4;
}
#search-close-button:hover,#topic-close-button:hover {
    color: #ff3232;
}

@media(max-width: 768px) {
    #search-close-button, #topic-close-button {
        margin-right: 8px;
        font-size: 20px;
    }
}
::-ms-clear {
    display: none;
}

.form-control-clear {
    z-index: 10;
    pointer-events: auto;
    cursor: pointer;
}

#selected-topic {
    margin-bottom: 0px !important;
}
#selected-topic-input {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background-color: #f9f9f9;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.7;
    letter-spacing: normal;
    text-align: center;
    color: #000;
    height: 82px;
}

#search-input {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background-color: #f9f9f9;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #000;
    height: 82px;
}
#search-input:focus{
    outline: none;
    box-shadow: none;
}


#search-input-box {
    margin-bottom: 0px;
}


.navbar-blog {
    margin-top: 7px;
}

.nav>li>a:focus, .nav>li>a:hover {
    background-color: transparent;
}


.topics>li>a:focus, .topics>li>a:hover {
    background-color: transparent;
}

.topics {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.6px;
    color: #ffffff;
    height: auto;
    min-height: 82px;
    margin-bottom: 0px;
    display: table;
    border-radius: 0px;
    width: 100%;
    text-align: left;
    left: 0;
    right: 0;
    padding-left:0px;


}
.topics > li {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.6px;
    text-align: left;
    color: #000000;
    padding-right: 24px;
}


.topics {
    border-left: none;
    border-right: none;
    background-color: #f9f9f9;
    display: table-cell;
}
.topics > li > a{
    display: block;
    padding: 3px 0px;
    clear: both;
    text-decoration: none;
    color: #333;
    white-space: nowrap;
    font-family: 'Lato', sans-serif;
    font-size: 12px;

    font-style: normal;
    font-stretch: normal;

    letter-spacing: 0.6px;
    text-align: left;

}
.topics > li {
    display: table-cell;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
}

.topics > li:first-child > a {

    padding-left: 0px;
}

.topics > li > a.active-topic-link {
    color: #ff3232;
}

@media screen and (max-width: 767px) {
    .topics > li {
        display: block;
        padding-right: 0px;
    }

    .header-blog > .site-title {
        margin-left: 45px;
    }

    #masthead .header-blog {
        padding-top: 5px !important;
    }
}


.topic-navbar .navbar-nav>li:first-child>a {
    color: #ff3232;
}
.topic-navbar .navbar-nav>li>a {
    color: #000;
    text-align: center;
}

.topic-nav>li>a:hover {
    color: #000;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
    box-shadow: none;
}

.dropdown {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.6px;
    text-align: right;
    color: #ffffff;
}

.dropdown-toggle, .dropdown-toggle:focus, .dropdown-toggle:hover {
    color: white;
}

.arrow:after {
    content: "";
    position: absolute;
    bottom: -9px;
    right: 0;
    margin-right: 10px;
    border-width: 0 10px 10px 10px;
    border-style: solid;
    border-color: #f9f9f9 transparent;
    display: block;
    width: 0;
}

#collapseTopics {
    width: 100%;
    max-width: 1196px;
    margin-left: auto;
    margin-right:auto;
}


#contenido-header-blog {
    width: 100%;
    max-width: 1228px;
    position:relative;
    margin-top: 47px;
    background-color: #f9f9f9;

    margin-left: auto;
    margin-right: auto;

}


.site-title > a:after {
    content:"|  BLOG";
    /*word-spacing: ;*/
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.6px;
    text-align: right;
    color: #ffffff;
    margin-left: 16px;
    word-spacing: 16px;
}
.site-title > a:hover{
    text-decoration: none;
}

@media (max-width: 1225px) {
    .topics > li:first-child > a{
        padding-left: 8px;
    }
}
@media (max-width: 905px) {
    .topics > li > a{
        font-size: 10px;
    }
}

@media(max-width: 768px) {
    .topics {
        display: block;
    }

    .topics > li > a {

        text-align: center;
    }

    .topics > li:first-child > a {
        padding-left: 0px;
    }

    .navbar-blog-container {
        display: block;
        width: 20%;
        float: right;
        border-top: none;
        padding-right: 0px;
        padding-left: 0px;
    }

    .navbar-blog {
        float: right;
    }
    .navbar-blog > li {
        display:inline-block;
    }

    .navbar-blog > li > a {
        font-size: 16px;
    }
    .arrow:after {
        bottom: -14px;
    }

    .topics > li > a{
        font-size: 12px;
    }
}

#topic-close-button > a {
    color: #000;
}

#topic-close-button > a:hover {
    color: #ff3232;
}

.primary-navigation {
    margin-top: 0px;
    padding: 0px;
}

.menu-toggle {
    margin-top:4px;
}

@media(max-width: 351px) {
    .dropdown-toggle-topic {
        padding-right: 0px !important;
    }
}

#primary-navigation.toggled-on {
    margin-top:-5px;
    z-index: 1;
}

@media (max-width: 400px) {
    #search-input, #selected-topic-input {
        font-size: 20px;
        padding: 12px 20px 12px 20px;
    }

}

.santex-icon-hashtag {
    background: url("./assets/icon_topic/icon_topic.png") no-repeat center center;
    vertical-align: text-bottom;
    background-size: cover;
    height: 16px;
    width: 16px;
}
.santex-icon-search {
    background: url("./assets/icon_lupa/icon_lupa.png" ) no-repeat center center;
    vertical-align: text-bottom;
    background-size: cover;
    height: 16px;
    width: 16px;
}
/*HEADER*/
/*BLOG MAIN*/

.blog-topic-item-image {
    font-family: 'Lato', sans-serif;
    font-size: 26px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 140px;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    cursor: pointer;

}
.blog-topic-item-body-item {
    margin-top: 16px;
}
.blog-topic-item-body-item-title {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: 0.4px;
    text-align: left;
    color: #000000;
    cursor: pointer;
    margin-top:-10px;
}
.blog-topic-item-body-item-date {
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 4;
    letter-spacing: normal;
    text-align: left;
    color: #a4a4a4;
    cursor: pointer;
}
.blog-topic-container {
    padding-left: 0px;
    padding-right: 0px;
    height: 600px;
}
.blog-topic-item-image {
    width: 100%;
    height:140px;
    background: url("./assets/fast-paced.png") no-repeat center center;
    background-size: cover;
    border-radius: 8px;
}
.blog-topic-item {

    max-width: 286px;
    margin-left: 16px;
    float: left;
    padding-left: 0px;
    padding-right: 0px;
}
.blog-topic-item:first-child {
    margin-left: 0px;
}
.most-popular-item-date > span {
    color: #000;
}
.most-popular-item-date {
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 4;
    letter-spacing: normal;
    text-align: left;
    color: #a4a4a4;
}
.most-popular-item-title {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: 0.4px;
    text-align: left;
    color: #000000;
    margin-top: -8px;
}
.most-popular-list {
    width: 100%;

}

.most-popular-item:hover .most-popular-item-title {
    color: #ff3232;
    text-decoration: underline;
}

.most-popular-item {
    width: 100%;
    margin-top: 24px;
    cursor: pointer;
}
.blog-last-article-description-date {
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 4;
    letter-spacing: normal;
    margin-bottom: 0px;
    color: #a4a4a4;
}
.blog-last-article-description-date > span {
    color: #000000;
}
.blog-last-article-description-body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: 0.4px;
    text-align: left;
    color: #000000;
}
.blog-last-article-description-title{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: 0.4px;
    margin-top:-8px;
    color: #000000;
}

.blog-last-article-left {
    /*width: 186px;*/
    height: 140px;
    float: left;

    border-radius: 8px;
    padding-left: 0px;
    padding-right: 0px;
}

.blog-last-article-left >img{
    width: 100%;
    height: 140px;
    float: left;
    border-radius: 8px;
    object-fit: cover;
}

.blog-last-article-right:hover .blog-last-article-description-title  {
    color: #ff3232;
    text-decoration: underline;
}

.blog-topic-item-body-item:hover .blog-topic-item-body-item-title {
    color: #ff3232;
    text-decoration: underline;
}

.blog-last-article:hover {
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.1);
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}
.blog-last-article-right {
    cursor: pointer;
    float: left;
    height: 140px;
    text-align: left;
}

.blog-last-article {
    margin-top: 16px;
    margin-right: 0px;
    margin-left: 0px;
}
#blog-container-list-left > h1 {
    font-family: 'Neuton', serif;
    font-size: 36px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.11;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

#blog-container-list-right > h1{
    font-family: 'Neuton', serif;
    font-size: 36px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.11;
    letter-spacing: normal;

    color: #000000;
}

#blog-container-list-left {

    padding-left: 0px;
    padding-right: 0px;
    float: left;
}

#blog-container-list-right {
    text-align: left;
    float: right;
}

#blog-container-list {
    max-width: 994px;
    margin-right:auto;
    margin-left:auto;
    /*height: 500px;*/
    padding-right: 0px;
    padding-left: 0px;
    /*display: flex;*/
    /*flex-direction: column;*/
    min-height: 100vh;
}
.last-article-header {
    width: 100%;
    height: 400px;
    /*background-color: red;*/
    margin-left: auto;
    margin-right: auto;
    max-width: 1196px;
}

.last-article-left {
    position: relative;
    width:35%;
    height:100%;
    float: left;
    /*background-color: #0a6550;*/
    text-align: left;
}


.last-article-right {
    position: relative;
    width: 50%;
    height:100%;
    float: right;
    border-radius: 8px;
    /*background-color: yellow;*/
}
.last-article-right > img, .single-article-right> img {
    width:100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
}
.last-article-left-date {
    font-family: 'Lato', serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.5;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.last-article-left-date > span:first-child {
    font-weight: bold;
}

.last-article-left-date > span:last-child {
    margin-left: 10px;
    color: #a4a4a4;
}

.last-article-left-title {
    font-family: 'Neuton', serif;
    font-size: 48px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.08;
    letter-spacing: 1px;
    text-align: left;
    color: #000000;
}


.last-article-left-content {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    margin-top: 20px;
}

.go-to-blog {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: 1.4px;
    text-align: center;
    color:#ff3232;
    text-align: center;
    margin-top: 60px;
    cursor: pointer;
    margin-bottom: 80px;
}

.go-to-blog:hover {
    color:#dd352e;
}

.go-to-blog > a:after {
    content: ' >';

}

.go-to-blog > a {
    color:#ff3232;
}

.go-to-blog > a:hover {
    color:#dd352e;
    text-decoration: none;
}
.go-to-blog > a:focus,  .go-to-blog > a:active {
    text-decoration: none;
}


.blog-topic-container-xs {
    max-width: 288px;
    margin-left: auto;
    margin-right: auto;

}

.blog-topic-item-xs > .blog-topic-item-body{
    padding-left: 15px;
    padding-right: 15px;
}

.blog-topic-item-xs > .blog-topic-item-body > .blog-topic-item-body-item{
    margin-top: 0px;
}

.blog-topic-item-xs {
    width:100%;
    height:500px;
    border-radius: 8px;
    border: 1px solid #f1f1f1;
    padding-left: 0px;
    padding-right: 0px;

}
#last-article-container, #last-article-container-xs {
    padding-top: 16px;
}

#last-article-container-xs > a > .last-article-header {

    max-width: 288px;
    margin-left: auto;
    margin-right: auto;
}
#last-article-container-xs > a > .last-article-right {
    margin-top: 16px;
    width: 100%;
    max-width: 288px;
    height:192px;
    margin-left: auto;
    margin-right: auto;
    float: none;
}
#last-article-container-xs > a > .last-article-header > .last-article-left {
    width: 100%;

}
@media(max-width:589px) {

    #blog-container-list-left > h1 {
        text-align: center;
    }
    .blog-last-article {
        max-width: 288px;
        margin-left:auto;
        margin-right: auto;
        border-radius: 8px;
        background-color: #ffffff;
        margin-top: 16px;
        border: 1px solid #f1f1f1;
    }


    .blog-last-article-right {
        text-align: center;
    }

    .most-popular-list {
        max-width: 288px;
        margin-left:auto;
        margin-right: auto;
        text-align: center;
    }

    #blog-container-list-right > h1{
        text-align: center;
    }
}



@media (max-width:1220px) {
    #last-article-container, #blog-container-list {
        max-width: 95%;
    }
}
.bx-wrapper {
    margin-left: auto;
    margin-right: auto;
    box-shadow: none;
}


@media (max-width:991px) {
    .blog-last-article-left {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .blog-last-article-left >img{
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .blog-last-article-description-date:last-child {
        font-size: 10px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 4;
        letter-spacing: normal;
        text-align: center;
        color: #a4a4a4;
        margin-bottom: 0px;
        padding-top: 10px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .blog-last-article-description-topic {
        font-size: 12px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 3.33;
        letter-spacing: normal;
        text-align: left;
        color: #3d3d3d;

    }

    .blog-last-article-description-title {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

@media (max-width:768px) {
    .last-article-left-date {
        font-size:14px;
    }
    .blog-last-article-description-topic, .blog-last-article-right {
        text-align: center;
    }
}

@media(max-width: 1224px) {
    .blog-topic-item {
        width: 23%;
    }

}
/*BLOG MAIN*/
/*BLOG SINGLE PAGE*/

#content-container > ul > li::before {
    content: "\2022";
    color: #ff3232; /* or whatever color you prefer */
    margin-right: 14px;
}

#content-container > ul > li {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #3d3d3d;
}
#content-container > p {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #3d3d3d;
}
#content-container > h1,  #content-container > h2 {
    font-family: 'Neuton', serif;
    font-size: 36px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.11;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    padding-top: 24px;
}
#content-container > h3 {
    font-family: 'Neuton', serif;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}
#content-container > img, #content-container > p > img, #content-container > p > span > img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#call-to-action-button{
    display: block;
    width: 285px;
    height: 48px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    background-color: #ff3232;
    color: white;
    margin-right: auto;
    margin-left: auto;
    border-radius: 40px;
    cursor: pointer;
    margin-top: 30px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    line-height: 48px;
    text-decoration: none;
    margin-bottom: 48px;


}
#call-to-action-button:hover{
    background-color: #dd352e;
}

.row-call-to-action {
    margin-right: auto;
    margin-left: auto;
    padding-right: 16px;
    padding-left: 16px;
}
#call-to-action {
    background-color: #f9f9f9;
    max-width: 100%;
    padding-bottom: 24px;
}
#content-container {
    max-width: 808px;
    overflow-x: hidden;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}




/**
Estos estilos los comparte con el single article del blog page
 */
.single-article-header {
    width: 100%;
    height: 400px;
    /*background-color: red;*/
    margin-left: auto;
    margin-right: auto;
    max-width: 1196px;
}

.single-article-left {
    position: relative;
    width:40%;
    height:100%;
    float: left;
    /*background-color: #0a6550;*/
    text-align: left;
}


.single-article-right {
    position: relative;
    width: 50%;
    height:100%;
    float: right;
    border-radius: 8px;
    /*background-color: yellow;*/
}

.single-article-left-date {
    font-family: 'Lato', serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.5;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.single-article-left-date > span:first-child {
    font-weight: bold;
}

.single-article-left-date > span:last-child {
    margin-left: 10px;
    color: #a4a4a4;
}

.single-article-left-title {
    font-family: 'Neuton', serif;
    font-size: 48px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.08;
    letter-spacing: 1px;
    text-align: left;
    color: #000000;
}


.single-article-left-content {
    font-family: 'Lato', sans-serif;;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    margin-top: 20px;
}



/*RELATED*/

.go-to-related {
    font-family: 'Lato', sans-serif;;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: 1.4px;
    text-align: center;
    color:#ff3232;
    text-align: center;
    margin-top: 60px;
    cursor: pointer;
    margin-bottom: 80px;
}

.go-to-related:hover {
    color:#dd352e;
}

.go-to-related > a:after {
    content: ' >';

}

.go-to-related > a {
    color:#ff3232;
}

.go-to-related > a:hover {
    color:#dd352e;
    text-decoration: none;
}
.go-to-related > a:focus,  .go-to-related > a:active {
    text-decoration: none;
}


.ig-list, .related-list {
    width: 100%;
    max-width: 1196px;
    display: block;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 80px;
    align-content: flex-start;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;

}


.ig-article-image {
    width: 100%;
    height: 80%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    cursor: pointer;
}

.ig-article {
    width: 287px;
    height: 320px;
    /*background-color: red;*/
    float: left;
    /*background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.77), rgba(0, 0, 0, 0.5) 49%, rgba(0, 0, 0, 0));*/
    border-radius: 8px;
    position: relative;
    margin-left:16px;

}

.ig-article:hover {
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.1);
}



.ig-article:nth-child(odd) {
    /*background-color: #777;*/

}
.ig-article:nth-child(even) {
    /*background-color: blue;*/
    margin-top: 50px;


}


.ig-article:first-child {
    margin-left: 0;
    margin-right: 0;
}

.ig-article:last-child {
    margin-right: 0;

}




.ig-article-title {
    font-family: 'Lato', sans-serif;;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: 0.4px;
    text-align: left;
    color: #ffffff;
    padding: 17px 0 0 24px;
    cursor: pointer;
    height: 30%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.77), rgba(0, 0, 0, 0.5) 49%, rgba(0, 0, 0, 0));

    border-radius: 8px;
}

.ig-article-bottom {
    position: absolute;
    bottom:0;
    width: 100%;
    height: 20%;
    background-color: #ff3232;
    color: white;
    text-align: center;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
    line-height: 50px;
}

.ig-article-bottom > p:after {
    content: ' >';

}



.ig-article-bottom > p {
    font-family: 'Lato', sans-serif;;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 1.2px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 0px;
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
}


/*.blog-list {*/
/*width: 100%;*/
/*margin-right: auto;*/
/*margin-left: auto;*/
/*!*background-color: red;*!*/
/*text-align: center;*/
/*margin-top: 30px;*/

/*display: flex;*/
/*flex-wrap: wrap;*/
/*align-items: flex-start;*/
/*justify-content: center;*/

/*margin-top: 2%;*/
/*align-content: flex-start;*/
/*}*/

.related-article {
    border-radius: 8px;
    width: 287px;
    height: 280px;
    /*background-color: red;*/

    float: left;
    /*background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.77), rgba(0, 0, 0, 0.5) 49%, rgba(0, 0, 0, 0));*/
    position: relative;
    border:1px solid #f1f1f1;
    cursor: pointer;
    margin-left:16px;
    margin-top: 16px;

}



.related-article:hover{
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.1);
}

.related-article:first-child {
    margin-left: 0;
    margin-right: 0;
}

.related-article:last-child {
    margin-right: 0;

}


.related-article-image{
    width: 100%;
    height: 50%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.related-article-image >img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    object-fit: cover;
}

.related-article-description {
    text-align: center;
}
.related-article-description > p {
    margin-bottom: 0px;
}

.related-article-description-title {
    font-family: 'Lato', sans-serif;;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: 0.4px;
    text-align: center;
    color: #000000;
    margin:0;
    padding: 0px 5% 0px 5%;
    margin-top: 24px;
}

.related-article-description-topic {
    font-family: 'Lato', sans-serif;;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.33;
    letter-spacing: normal;
    text-align: center;
    color: #3d3d3d;
}

.related-article-description-date {
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 4;
    letter-spacing: normal;
    text-align: center;
    color: #a4a4a4;
    position: absolute;
    bottom:0;
    left: 0;
    right: 0;
}

.related-section {
    margin-top: 30px;
}



#related-slider-xs {
    width:287px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
}

/*@media (max-width: 944px) {*/
/*.ig-list {*/
/*width: 100%;*/
/*}*/
/*.blog-list {*/
/*width: 90%;*/
/*}*/
/*}*/

@media (min-width: 590px) and (max-width:1275px) {
    .ig-list,.related-list {
        width: 590px;
    }


    .related-article,.ig-article {
        margin-left: 0px;
        margin-right: 0px;
    }

    .related-article:nth-child(even),.ig-article:nth-child(even) {
        /*background-color: blue;*/
        margin-left:16px;
    }
}

@media (max-width: 1275px) {
    .ig-article:nth-child(even),.ig-article {
        /*background-color: blue;*/
        margin-top: 16px;

    }

}


@media (max-width: 590px) {
    .ig-list {
        width: 287px;
    }
    .ig-article {
        margin-left: 0px;
        margin-right: 0px;
    }
    #related-slider {
        display: none;
    }
    #related-slider-xs {
        display: block;
    }

    .related-article {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
    }

}

@media (min-width: 590px) {
    #related-slider-xs {
        display: none;
    }
}

.bx-wrapper {
    margin-left: auto;
    margin-right: auto;
    box-shadow: none;
}

#single-article-container-xs > .single-article-header {

    max-width: 288px;
    margin-left: auto;
    margin-right: auto;
}
#single-article-container-xs > .single-article-right {
    margin-top: 16px;
    width: 100%;
    max-width: 288px;
    height:192px;
    margin-left: auto;
    margin-right: auto;
    float: none;
}
#single-article-container-xs > .single-article-header > .single-article-left {
    width: 100%;

}

@media (max-width:768px) {
    .single-article-left-date {
        font-size:12px;
    }
}
@media (max-width:1220px) {
    #single-article-container {
        max-width: 95%;
    }
}

.ez-toc-list > li {
    font-family: 'Lato', sans-serif;
    font-size: 20px !important;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.1;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    border-bottom: 1px solid #a4a4a4;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
}

.ez-toc-list > li > a {
    text-decoration: none !important;
}

.ez-toc-list > li > a:before {
    font-weight: bold;
}

.ez-toc-title {
    font-family: 'Neuton', serif;
    font-size: 36px !important;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.11;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    margin-bottom: 40px;
}
#ez-toc-container {
    border: none;
    background-color: white;
    padding-left:0px !important;
    margin-bottom: 40px !important;
    box-shadow:none !important;
}
.ez-toc-title-toggle {
    display: none;
}
/*BLOG SINGLE PAGE*/


/*
SEARCH & ARCHIVE
*/

.category-list {
    width: 100%;
    max-width: 1196px;
    display: block;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 80px;
    align-content: flex-start;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;

}
.category-article {
    border-radius: 8px;
    width: 287px;
    height: 280px;
    /*background-color: red;*/

    float: left;
    /*background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.77), rgba(0, 0, 0, 0.5) 49%, rgba(0, 0, 0, 0));*/
    position: relative;
    border:1px solid #f1f1f1;
    cursor: pointer;
    margin-right:16px;
    margin-top: 16px;

}



.category-article:hover{
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.1);
}

/*.category-article:first-child {*/
/*margin-left: 0;*/
/*margin-right: 0;*/
/*}*/


.category-article:nth-child(4n) {
    /*background-color: blue;*/
    margin-right:0px;
}

.category-article-image{
    width: 100%;
    height: 50%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.category-article-image > img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    object-fit: cover;
}

.category-article-description {
    text-align: center;
}
.category-article-description > p {
    margin-bottom: 0px;
}

.category-article-description-title {
    font-family: 'Lato', sans-serif;;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: 0.4px;
    text-align: center;
    color: #000000;
    margin:0;
    padding: 0px 5% 0px 5%;
}

.category-article-description-topic {
    font-family: 'Lato', sans-serif;;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.33;
    letter-spacing: normal;
    text-align: center;
    color: #3d3d3d;
}

.category-article-description-date {
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 4;
    letter-spacing: normal;
    text-align: center;
    color: #a4a4a4;
    position: absolute;
    bottom:0;
    left: 0;
    right: 0;
}




@media (max-width:1195px) {


    .category-list {
        max-width: 909px;
        padding-right: 8px;
        padding-left: 8px;
    }

    .category-article:nth-child(4n) {
        /*background-color: blue;*/
        margin-right:16px;

    }

    .category-article:nth-child(3n) {
        /*background-color: blue;*/
        margin-right:0;

    }
    /*.category-article {*/
    /*margin-left: 0px;*/
    /*margin-right: 0px;*/
    /*}*/

    /*.category-article:nth-child(even) {*/
    /*!*background-color: blue;*!*/
    /*margin-left:16px;*/
    /*}*/
}

@media (max-width: 908px) {
    .category-list {
        max-width: 606px;
        padding-right: 8px;
        padding-left: 8px;
    }

    .category-article:nth-child(4n) {
        /*background-color: blue;*/
        margin-right:0px;

    }

    .category-article:nth-child(3n) {
        /*background-color: blue;*/
        margin-right:0;
    }
    .category-article {
        margin-right: 0px;
    }

    .category-article:nth-child(2n) {
        /*background-color: blue;*/
        margin-left:16px;
    }
}


@media (max-width: 606px) {


    /*#category-slider {*/
    /*display: none;*/
    /*}*/

    .category-list {
        width: 299px;
    }

    .category-article {
        margin-left: 0px;
        margin-right: 0px;

    }


    .category-article {
        margin-right: 0px;
    }

    .category-article:nth-child(2n) {
        /*background-color: blue;*/
        margin-left:0px;
    }

}

.search-container {
    padding-top: 0px;
}

.category-article > a{
    text-decoration: none;
}

@media (max-width: 958px) {
    .single-article-left-title, .last-article-left-title {
        font-size: 40px;
    }
    .single-article-left-date {
        font-size: 12px;
    }
}